//언어선택 (셀렉트박스)
.select-language {
  position: relative;
  @include flexbox($items: center);
  border: 1px solid $gray200;

  &__select {
    position: relative;
    appearance: none;
    background-color: transparent;
    color: $gray200;
    font-size: rem(12px);
    padding: rem(4px) rem(22px);
    z-index: 10;
    @include desktop {
      font-size: rem(16px);
      padding: rem(8px) rem(33ox);
    }
  }

  %svg {
    position: absolute;
    width: rem(10px);
    height: rem(10px);
    @include desktop {
      width: rem(15px);
      height: rem(15px);
    }
  }
  @at-root .icon-global {
    @extend %svg;
    left: rem(7px);
    @include desktop {
      left: rem(10px);
    }
  }
  @at-root .icon-triangle {
    @extend %svg;
    right: rem(7px);
    @include desktop {
      right: rem(10px);
    }
  }
}
