//basic style
body {
  background-color: $black;
  color: $white;
  font-family: $baseFont;
  font-weight: 400;
}

//header layout
.header {
  @include flexbox($items: center);
  height: rem(80px);
  padding: rem(20px) rem(24px);
  @include desktop {
    height: rem(140px);
    padding: rem(40px) rem(20px);
    max-width: rem(1280px);
    @include autoMargin;
  }
  
  //넷플릭스 로고
  &__title {
    margin-right: auto;
    
    @at-root .logo {
      display: block;
      width: rem(80px);
      padding-top: rem(8px);
      padding-bottom: rem(8px);
      @include desktop {
        width: rem(144px);
        padding-top: rem(12px);
        padding-bottom: rem(12px);
      }
    }

    img {
      @include responsiveImg;
    }
  }
  @at-root .link-login {
    margin-left: rem(12px);
    padding: rem(6px) rem(20px);
    font-size: rem(12px);
    background-color: $red500;
    font-weight: 700;
    white-space: nowrap;
    @include desktop {
      margin-left: rem(40px);
      padding-top: rem(8px);
      padding-bottom: rem(8px);
      font-size: rem(16px);
    }
  }
}

//footer layout
.footer {
  padding: rem(40px) rem(24px);
  @include desktop {
    padding: rem(48px) rem(20px);
    @include autoMargin;
    max-width: rem(1280px);
  }

  //질문이...
  &__description {
    color: $gray200;
    // @include flexbox($direction: column);
    margin-bottom: rem(16px);
    font-size: rem(20px);
    @include desktop {
      margin-bottom: rem(32px);
    }
  }

  //문의전화
  &__description .phonenumber {
    @include mobile {
      display: block;
    }
    @include desktop {
      margin-left: rem(8px);
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
    color: $gray300;
    @include flexbox($wrap:wrap);
    font-size: rem(14px);
    // margin-top: rem(10px);
    // margin-bottom: rem(10px);
    @include marginY(10px);
    @include desktop {
      font-size: rem(16px);
      @include marginY;
    }
  }
  &__item {
    width: 50%;
    margin-bottom: rem(10px);
    @include desktop {
      width: 25%;
      margin-bottom: rem(16px);
    }
  }

  //언어선택 (셀렉트박스)
  .select-language {  
    display: inline-flex;
  }

  //저작권정보
  @at-root .copyright {
    display: block;
    color: $gray300;
    font-weight: 700;
    margin-top: rem(48px);
    font-size: rem(20px);
    @include desktop {
      font-size: rem(22px);
    }
    @at-root .address {
      @include flexbox(column);
      color: $gray400;
      font-size: normal;
      margin-top: rem(8px);
      line-height: 1.618;
      @include desktop {
        font-weight: 700;
        font-size: rem(16px);
        margin-top: rem(16px);
      }
    }
  }
}
